/*CSS DOCUMENT*/
  @import url("https://use.typekit.net/wck3lnu.css");

body{
    margin: 0;
    font-family: sweet-sans-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5em;
    
}

.container{
    width: 80%;
    margin: 0 auto;
}

header::after{
    content: '';
    display: table;
    clear:both;
}

.logo{
    float:left;
    width: 50%;
    padding: .25em 0;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
        
}

nav li{
    display: inline-block;
    margin-left: .75em;
    margin-right: 1em;
    margin-top: .75em;
}

a{
    color: #000000;
}

a:link{
    text-decoration: none;
   
}

a:hover{
    color: #AED581;
}
.button{
    background-color: #F57F17;
    width: 10em;
    height: 2em;
    text-align: center;
    font-family: americane, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 4em;
    padding-top: .5em;
}

.button a{
    color: #FFFFFF;
}
.tacos img{
    width: 100%;
    padding-top:1em;
    padding-bottom: 1.25em;
}

.salsa img{
    width: 100%;
    padding-top:1em;
    padding-bottom: 1.25em;
}

.location1 img{
    display: inline;
    float: left;
    width: 45%;
    margin-right: .55em;
    padding-top:1em;
    padding-bottom: 1.25em;
}

.location2 img{
    display: inline;
    float: left;
    width: 45%;
    margin-left: .55em;
    padding-top:1em;
    padding-bottom: 1.25em;
}

.locationdescription{
    float: left;
}

.bull img{
    width: 100%;
    padding-top:1em;
    padding-bottom: 1.25em;
}
}

h1{
    font-weight: 1000;
    text-align: center;
    color:#AED581;
}

h2{
    font-weight:600;
    color:#F57F17;
}

h3{
    font-weight: 600;
    text-align: center;
    color:#AED581;
}

.price{
    color: 	#7e7e7e;
    font-weight: 550;
}

ul{
    list-style-type: none;
    display: flow-root;
    
}
.menu{
display: block;
}

ul{
    list-style-type: none;
    
}

.tacolist li {
    display: inline;
    float: left;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
}

.tacolist p{
    margin-top: .25em;
    font-size: .75em;
    width: 16em; 
}

.sidelist li {
    display: inline;
    float: left;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
}

.sidelist p {
    margin-top: .25em;
    font-size: .75em;
    width: 16em;
}

.combolist li {
    display: inline;
    float: left;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
}

.combolist p {
    margin-top: .25em;
    font-size: .75em;
    width: 16em; 
}

.postreslist li {
    display: inline;
    float: left;
    margin-left: 1em;
    margin-right: 2em;
    margin-top: 1em;
}

.postreslist p {
    margin-top: .25em;
    font-size: .75em;
    width: 16em; 
}
