/* CSS DOCUMENT */

h1 {font-family: "Times New Roman", Times, serif;
    font-weight: 200;
    font-style: normal;
    color: rgb(84,165,236);
}

h2{font-family: "Times New Roman", Times, serif;
    font-weight: 200;
    font-size: 28px;
    font-style: normal;
    color: rgb(0,0,0);
}

h3{font-family: Arial, Helvetica, sans-serif;
   font-style: normal;
   color: rgb(255,255,255);
   padding-top: 4px;
   padding-right: 2px;
   padding-bottom: 4px;
   padding-left: 8px;
   background-color: black;
}

h4{font-family: "Times New Roman", Times, serif;
    
}

p{font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: rgb(83,83,83);
    
}
